# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
.idea/compiler.xml
.idea/dataSources.xml
.idea/inspectionProfiles/
.idea/inspectionProfiles/Project_Default.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
/target/
